<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgokG4owOx-UKYfCpZOZEnp9U1dz4D4gM</string>
	<key>GCM_SENDER_ID</key>
	<string>644353693064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.actnone.eldrumdemo.local</string>
	<key>PROJECT_ID</key>
	<string>eldrum-engine-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>eldrum-engine-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644353693064:ios:c761e1df267566fb54563d</string>
</dict>
</plist>